@import "tailwindcss";

:root {
  --primary: #FFF2D0;
  --secondary: #19191A;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-body: 'IBM Plex Mono', monospace;
  --font-chomsky: 'Chomsky', sans-serif;
  --font-chomsky: 'Chomsky', sans-serif;
}

html,
body {
  & * {
    @apply text-secondary dark:text-primary;
    @apply font-body;
    @apply border-secondary dark:border-primary;
  }

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-chomsky;
  }

  @apply bg-primary dark:bg-secondary;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@font-face {
  font-family: 'Chomsky';
  src:
    url('/fonts/Chomsky.woff2') format('woff2'),
    url('/fonts/Chomsky.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
